:root {
  --warm-beige: #f0e5da;
  --rye-blue: #768bc3;
  --cold-beige: #e9e1dc;
  --purple: #b595ef;
  --green: #495847;
}

body {
  font-family: "Frank Ruhl Libre", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--warm-beige);
}

h1 {
  color: var(--rye-blue);
  font-size: 48px;
  font-weight: lighter;
}

h2 {
  color: var(--rye-blue);
  font-size: 22px;
  font-weight: lighter;
}

h3 {
  color: var(--rye-blue);
  font-weight: lighter;
  margin-top: 80px;
  margin-bottom: 20px;
}

.wrapper-heading {
  margin-top: 100px;
  margin-bottom: 100px;
}

#about-homepage {
  background-color: var(--rye-blue);
  color: white;
  text-align: center;
  border-radius: 25px;
  max-width: 700px;
}

.section-title {
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
}

.read-more {
  font-size: x-large;
  color: white;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}

.work-examples {
  padding: 50px;
}

.about-wrapper {
  background-color: var(--cold-beige);
  border-radius: 20px;
  max-width: 900px;
  margin-top: 120px;
}

#about-heading {
  margin-top: 120px;
}

.about-me-text {
  color: var(--rye-blue);
  font-size: 20px;
  line-height: 2;
  text-align: justify;
}

#get-in-touch {
  color: var(--rye-blue);
  font-size: 25px;
  margin-bottom: 60px;
  text-align: center;
  display: flex;
}
.material-symbols-outlined {
  margin-top: 15px;
}
.project-box {
  color: var(--warm-beige);
  background-color: var(--rye-blue);
  padding: 28px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
}

.project-box:hover {
  color: var(--rye-blue);
  background-color: var(--cold-beige);
  transition: all 200ms ease-in-out;
}

.email {
  font-size: 14px;
  color: var(--rye-blue);
  letter-spacing: 2px;
  margin-top: 20px;
}

footer {
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--rye-blue);
  padding-top: 100px;
  padding-bottom: 40px;
}
