:root {
  --warm-beige: #f0e5da;
  --rye-blue: #768bc3;
  --cold-beige: #e9e1dc;
  --purple: #b595ef;
  --green: #495847;
}

body {
  font-family: "Frank Ruhl Libre", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--warm-beige);
}

h1 {
  color: var(--rye-blue);
  font-size: 48px;
  font-weight: lighter;
}

h2 {
  color: var(--rye-blue);
  font-size: 22px;
  font-weight: lighter;
}

h3 {
  color: var(--rye-blue);
  font-weight: lighter;
  margin-top: 80px;
  margin-bottom: 20px;
}

.wrapper-heading {
  margin-top: 100px;
  margin-bottom: 100px;
}

#about-homepage {
  background-color: var(--rye-blue);
  color: white;
  text-align: center;
  border-radius: 25px;
  max-width: 1300px;
}

.section-title {
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
}

.read-more {
  font-size: 22px;
}

.read-more a {
  color: inherit;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}

#work-examples {
  margin-top: 60px;
}

.about-wrapper {
  background-color: var(--cold-beige);
  border-radius: 20px;
  max-width: 900px;
  margin-top: 120px;
}

#about-heading {
  margin-top: 120px;
}

.about-me-text {
  color: var(--rye-blue);
  font-size: 20px;
  line-height: 2;
  text-align: justify;
}

#get-in-touch {
  color: var(--rye-blue);
  font-size: 25px;
  margin-bottom: 60px;
  text-align: center;
  display: flex;
}

#get-in-touch a {
  color: inherit;
  text-decoration: none;
}
.material-symbols-outlined {
  margin-top: 15px;
}

.project-box {
  color: var(--rye-blue);
  background-color: var(--warm-beige);
  padding: 80px 20px 80px 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.project-box-link {
  display: block;
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.project-content {
  position: relative;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: var(--purple);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  opacity: 0;
  transition: 200ms ease-in-out;
}

.overlay h3 {
  color: white;
}

.project-box:hover .overlay {
  opacity: 1;
}

.project-box:hover .project-content {
  color: transparent;
}

.email {
  font-size: 14px;
  color: var(--rye-blue);
  letter-spacing: 2px;
  margin-top: 20px;
}

footer {
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--rye-blue);
  padding-top: 100px;
  padding-bottom: 40px;
}
